/*-----FONTS-----*/
@font-face {
  font-family: "Lato-Bold";
  src: url("/fonts/Lato/LatoBold/LatoBold.eot");
  src: url("/fonts/Lato/LatoBold/LatoBold.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Lato/LatoBold/LatoBold.woff") format("woff");
  src: url("/fonts/Lato/LatoBold/LatoBold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: "Lato-BoldI-talic";
  src: url("/fonts/Lato/LatoBoldItalic/LatoBoldItalic.eot");
  src: url("/fonts/Lato/LatoBoldItalic/LatoBoldItalic.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Lato/LatoBoldItalic/LatoBoldItalic.woff") format("woff");
  src: url("/fonts/Lato/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: "Lato-Italic";
  src: url("/fonts/Lato/LatoItalic/LatoItalic.eot");
  src: url("/fonts/Lato/LatoItalic/LatoItalic.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Lato/LatoItalic/LatoItalic.woff") format("woff");
  src: url("/fonts/Lato/LatoItalic/LatoItalic.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "Lato-Light";
  src: url("/fonts/Lato/LatoLight/LatoLight.eot");
  src: url("/fonts/Lato/LatoLight/LatoLight.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Lato/LatoLight/LatoLight.woff") format("woff");
  src: url("/fonts/Lato/LatoLight/LatoLight.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: "Lato-LightI-talic";
  src: url("/fonts/Lato/LatoLightItalic/LatoLightItalic.eot");
  src: url("/fonts/Lato/LatoLightItalic/LatoLightItalic.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Lato/LatoLightItalic/LatoLightItalic.woff") format("woff");
  src: url("/fonts/Lato/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/LatoRegular/LatoRegular.eot");
  src: url("/fonts/Lato/LatoRegular/LatoRegular.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Lato/LatoRegular/LatoRegular.woff") format("woff");
  src: url("/fonts/Lato/LatoRegular/LatoRegular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "Raleway-Black";
  src: url("/fonts/Raleway/RalewayBlack/RalewayBlack.eot");
  src: url("/fonts/Raleway/RalewayBlack/RalewayBlack.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Raleway/RalewayBlack/RalewayBlack.woff") format("woff");
  src: url("/fonts/Raleway/RalewayBlack/RalewayBlack.ttf") format("truetype");
  font-weight: 900; }

@font-face {
  font-family: "Raleway-Bold";
  src: url("/fonts/Raleway/RalewayBold/RalewayBold.eot");
  src: url("/fonts/Raleway/RalewayBold/RalewayBold.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Raleway/RalewayBold/RalewayBold.woff") format("woff");
  src: url("/fonts/Raleway/RalewayBold/RalewayBold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: "Raleway-Extra-Bold";
  src: url("/fonts/Raleway/RalewayExtraBold/RalewayExtraBold.eot");
  src: url("/fonts/Raleway/RalewayExtraBold/RalewayExtraBold.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Raleway/RalewayExtraBold/RalewayExtraBold.woff") format("woff");
  src: url("/fonts/Raleway/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype");
  font-weight: 800; }

@font-face {
  font-family: "Raleway-Extra-Light";
  src: url("/fonts/Raleway/RalewayExtraLight/RalewayExtraLight.eot");
  src: url("/fonts/Raleway/RalewayExtraLight/RalewayExtraLight.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Raleway/RalewayExtraLight/RalewayExtraLight.woff") format("woff");
  src: url("/fonts/Raleway/RalewayExtraLight/RalewayExtraLight.ttf") format("truetype");
  font-weight: 200; }

@font-face {
  font-family: "Raleway-Light";
  src: url("/fonts/Raleway/RalewayLight/RalewayLight.eot");
  src: url("/fonts/Raleway/RalewayLight/RalewayLight.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Raleway/RalewayLight/RalewayLight.woff") format("woff");
  src: url("/fonts/Raleway/RalewayLight/RalewayLight.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: "Raleway-Medium";
  src: url("/fonts/Raleway/RalewayMedium/RalewayMedium.eot");
  src: url("/fonts/Raleway/RalewayMedium/RalewayMedium.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Raleway/RalewayMedium/RalewayMedium.woff") format("woff");
  src: url("/fonts/Raleway/RalewayMedium/RalewayMedium.ttf") format("truetype");
  font-weight: 600; }

@font-face {
  font-family: "Raleway-Regular";
  src: url("/fonts/Raleway/RalewayRegular/RalewayRegular.eot");
  src: url("/fonts/Raleway/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Raleway/RalewayRegular/RalewayRegular.woff") format("woff");
  src: url("/fonts/Raleway/RalewayRegular/RalewayRegular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "Raleway-Semi-Bold";
  src: url("/fonts/Raleway/RalewaySemiBold/RalewaySemiBold.eot");
  src: url("/fonts/Raleway/RalewaySemiBold/RalewaySemiBold.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Raleway/RalewaySemiBold/RalewaySemiBold.woff") format("woff");
  src: url("/fonts/Raleway/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: "Raleway-Thin";
  src: url("/fonts/Raleway/RalewayThin/RalewayThin.eot");
  src: url("/fonts/Raleway/RalewayThin/RalewayThin.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Raleway/RalewayThin/RalewayThin.woff") format("woff");
  src: url("/fonts/Raleway/RalewayThin/RalewayThin.ttf") format("truetype");
  font-weight: 100; }
