/*-----FONTS-----*/
@font-face {
  font-family: "Lato-Bold";
  src: url("/fonts/Lato/LatoBold/LatoBold.eot");
  src: url("/fonts/Lato/LatoBold/LatoBold.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Lato/LatoBold/LatoBold.woff") format("woff");
  src: url("/fonts/Lato/LatoBold/LatoBold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: "Lato-BoldI-talic";
  src: url("/fonts/Lato/LatoBoldItalic/LatoBoldItalic.eot");
  src: url("/fonts/Lato/LatoBoldItalic/LatoBoldItalic.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Lato/LatoBoldItalic/LatoBoldItalic.woff") format("woff");
  src: url("/fonts/Lato/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: "Lato-Italic";
  src: url("/fonts/Lato/LatoItalic/LatoItalic.eot");
  src: url("/fonts/Lato/LatoItalic/LatoItalic.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Lato/LatoItalic/LatoItalic.woff") format("woff");
  src: url("/fonts/Lato/LatoItalic/LatoItalic.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "Lato-Light";
  src: url("/fonts/Lato/LatoLight/LatoLight.eot");
  src: url("/fonts/Lato/LatoLight/LatoLight.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Lato/LatoLight/LatoLight.woff") format("woff");
  src: url("/fonts/Lato/LatoLight/LatoLight.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: "Lato-LightI-talic";
  src: url("/fonts/Lato/LatoLightItalic/LatoLightItalic.eot");
  src: url("/fonts/Lato/LatoLightItalic/LatoLightItalic.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Lato/LatoLightItalic/LatoLightItalic.woff") format("woff");
  src: url("/fonts/Lato/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/LatoRegular/LatoRegular.eot");
  src: url("/fonts/Lato/LatoRegular/LatoRegular.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Lato/LatoRegular/LatoRegular.woff") format("woff");
  src: url("/fonts/Lato/LatoRegular/LatoRegular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "Raleway-Black";
  src: url("/fonts/Raleway/RalewayBlack/RalewayBlack.eot");
  src: url("/fonts/Raleway/RalewayBlack/RalewayBlack.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Raleway/RalewayBlack/RalewayBlack.woff") format("woff");
  src: url("/fonts/Raleway/RalewayBlack/RalewayBlack.ttf") format("truetype");
  font-weight: 900; }

@font-face {
  font-family: "Raleway-Bold";
  src: url("/fonts/Raleway/RalewayBold/RalewayBold.eot");
  src: url("/fonts/Raleway/RalewayBold/RalewayBold.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Raleway/RalewayBold/RalewayBold.woff") format("woff");
  src: url("/fonts/Raleway/RalewayBold/RalewayBold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: "Raleway-Extra-Bold";
  src: url("/fonts/Raleway/RalewayExtraBold/RalewayExtraBold.eot");
  src: url("/fonts/Raleway/RalewayExtraBold/RalewayExtraBold.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Raleway/RalewayExtraBold/RalewayExtraBold.woff") format("woff");
  src: url("/fonts/Raleway/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype");
  font-weight: 800; }

@font-face {
  font-family: "Raleway-Extra-Light";
  src: url("/fonts/Raleway/RalewayExtraLight/RalewayExtraLight.eot");
  src: url("/fonts/Raleway/RalewayExtraLight/RalewayExtraLight.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Raleway/RalewayExtraLight/RalewayExtraLight.woff") format("woff");
  src: url("/fonts/Raleway/RalewayExtraLight/RalewayExtraLight.ttf") format("truetype");
  font-weight: 200; }

@font-face {
  font-family: "Raleway-Light";
  src: url("/fonts/Raleway/RalewayLight/RalewayLight.eot");
  src: url("/fonts/Raleway/RalewayLight/RalewayLight.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Raleway/RalewayLight/RalewayLight.woff") format("woff");
  src: url("/fonts/Raleway/RalewayLight/RalewayLight.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: "Raleway-Medium";
  src: url("/fonts/Raleway/RalewayMedium/RalewayMedium.eot");
  src: url("/fonts/Raleway/RalewayMedium/RalewayMedium.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Raleway/RalewayMedium/RalewayMedium.woff") format("woff");
  src: url("/fonts/Raleway/RalewayMedium/RalewayMedium.ttf") format("truetype");
  font-weight: 600; }

@font-face {
  font-family: "Raleway-Regular";
  src: url("/fonts/Raleway/RalewayRegular/RalewayRegular.eot");
  src: url("/fonts/Raleway/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Raleway/RalewayRegular/RalewayRegular.woff") format("woff");
  src: url("/fonts/Raleway/RalewayRegular/RalewayRegular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "Raleway-Semi-Bold";
  src: url("/fonts/Raleway/RalewaySemiBold/RalewaySemiBold.eot");
  src: url("/fonts/Raleway/RalewaySemiBold/RalewaySemiBold.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Raleway/RalewaySemiBold/RalewaySemiBold.woff") format("woff");
  src: url("/fonts/Raleway/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: "Raleway-Thin";
  src: url("/fonts/Raleway/RalewayThin/RalewayThin.eot");
  src: url("/fonts/Raleway/RalewayThin/RalewayThin.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Raleway/RalewayThin/RalewayThin.woff") format("woff");
  src: url("/fonts/Raleway/RalewayThin/RalewayThin.ttf") format("truetype");
  font-weight: 100; }

/*_____HEADER_____*/
.header {
  z-index: 3000;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-color: white; }
  @media only screen and (min-width: 1281px) {
    .header {
      height: 55px; } }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .header {
      height: 70px; } }
  @media only screen and (max-width: 768px) {
    .header {
      height: 70px; } }
  @media only screen and (max-width: 560px) {
    .header {
      background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(50%, white), color-stop(50%, #8d857a), to(#8d857a));
      background: -webkit-linear-gradient(bottom, white 0%, white 50%, #8d857a 50%, #8d857a 100%);
      background: -o-linear-gradient(bottom, white 0%, white 50%, #8d857a 50%, #8d857a 100%);
      background: linear-gradient(to top, white 0%, white 50%, #8d857a 50%, #8d857a 100%);
      height: 105px;
      -webkit-box-shadow: 1px 2px 6px 0 #00000036;
              box-shadow: 1px 2px 6px 0 #00000036; } }

.header__container {
  max-width: 1920px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media only screen and (min-width: 1281px) {
    .header__container {
      padding: 0 4.7vw; } }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .header__container {
      padding: 0 40px; } }
  @media only screen and (max-width: 768px) {
    .header__container {
      padding: 0 15px; } }
  @media only screen and (max-width: 560px) {
    .header__container {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }

.header--theme-pink {
  -webkit-box-shadow: 0 1px 4px 0 #dbdbdb;
          box-shadow: 0 1px 4px 0 #dbdbdb;
  background-color: #feedeb; }
  @media only screen and (max-width: 560px) {
    .header--theme-pink {
      background: -webkit-gradient(linear, left bottom, left top, from(#feedeb), color-stop(50%, #feedeb), color-stop(50%, #fff), to(#fff));
      background: -webkit-linear-gradient(bottom, #feedeb 0%, #feedeb 50%, #fff 50%, #fff 100%);
      background: -o-linear-gradient(bottom, #feedeb 0%, #feedeb 50%, #fff 50%, #fff 100%);
      background: linear-gradient(to top, #feedeb 0%, #feedeb 50%, #fff 50%, #fff 100%); } }

.header--fixed {
  position: fixed;
  top: -56px; }

.header--theme-pink .header__hamburger-button {
  display: none; }

.header__logo-wrap {
  position: relative; }
  @media only screen and (max-width: 560px) {
    .header__logo-wrap {
      width: 100%;
      -webkit-box-ordinal-group: 2;
      -webkit-order: +1;
          -ms-flex-order: +1;
              order: +1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 60px; } }

.header__text-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  white-space: pre; }
  @media only screen and (min-width: 1281px) {
    .header__text-container {
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
      width: 380px;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .header__text-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 140px; } }
  @media only screen and (max-width: 768px) {
    .header__text-container {
      width: 120px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 5px; } }

@media only screen and (max-width: 768px) {
  .header__phone-container {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; } }

@media only screen and (min-width: 1281px) {
  .header__logo {
    width: 260px; } }

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .header__logo {
    width: 240px; } }

@media only screen and (max-width: 768px) and (min-width: 561px) {
  .header__logo {
    width: 180px; } }

@media only screen and (max-width: 560px) {
  .header__logo {
    width: 180px;
    margin-top: 10px; } }

.header__phone-name {
  font-family: "Lato", sans-serif;
  font-weight: 400; }
  @media only screen and (max-width: 1280px) {
    .header__phone-name {
      display: none; } }

.header__text {
  text-align: left;
  letter-spacing: 0.01em;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-decoration: none; }
  @media only screen and (min-width: 1281px) {
    .header__text {
      font-size: 19px;
      color: #232323; }
      .header__text:first-child {
        margin-right: 10px; }
      .header__text:last-child {
        margin-left: 10px; } }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .header__text {
      font-size: 14px;
      line-height: 22px;
      color: #232323; } }
  @media only screen and (max-width: 768px) and (min-width: 561px) {
    .header__text {
      font-size: 12px;
      line-height: 18px;
      color: #232323; } }
  @media only screen and (max-width: 560px) {
    .header__text {
      font-size: 12px;
      line-height: 18px;
      color: #fff; } }

@media only screen and (max-width: 560px) {
  .header--theme-pink .header__text {
    color: #232323; } }

/*__________FOOTER__________*/
.footer {
  background-color: #91867a;
  position: relative;
  overflow: hidden; }

.footer__slogan-smoll {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media only screen and (min-width: 1281px) {
    .footer__slogan-smoll {
      padding: 65px 0; } }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .footer__slogan-smoll {
      padding: 45px 0; } }
  @media only screen and (max-width: 768px) {
    .footer__slogan-smoll {
      display: none; } }

.footer__information-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media only screen and (min-width: 1281px) {
    .footer__information-footer {
      margin: 0 auto 60px auto; } }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .footer__information-footer {
      margin: 0 auto 30px auto; } }
  @media only screen and (max-width: 768px) {
    .footer__information-footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.footer__menu-horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer__copiright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media only screen and (min-width: 1281px) {
    .footer__copiright {
      margin: 25px 0 30px 0; } }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .footer__copiright {
      margin: 15px 0 20px 0; } }
  @media only screen and (max-width: 768px) {
    .footer__copiright {
      margin: 0 0 10px 0; } }

@media only screen and (min-width: 1281px) {
  .footer__ball-footer {
    bottom: -240px;
    left: -webkit-calc((100% - 400px) / 2);
    left: calc((100% - 400px) / 2); } }

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .footer__ball-footer {
    bottom: -280px;
    left: -webkit-calc((100% - 395px) / 2);
    left: calc((100% - 395px) / 2); } }

@media only screen and (max-width: 768px) {
  .footer__ball-footer {
    bottom: -280px;
    left: -webkit-calc((100% - 340px) / 2);
    left: calc((100% - 340px) / 2); } }

/*_____LINE_____*/
.line-one {
  background: -webkit-gradient(linear, right top, left top, from(#ecdfc5), color-stop(50%, #fefefd), to(#ecdfc5));
  background: -webkit-linear-gradient(right, #ecdfc5 0%, #fefefd 50%, #ecdfc5 100%);
  background: -o-linear-gradient(right, #ecdfc5 0%, #fefefd 50%, #ecdfc5 100%);
  background: linear-gradient(to left, #ecdfc5 0%, #fefefd 50%, #ecdfc5 100%);
  height: 2px; }

.line-two {
  background: -webkit-gradient(linear, right top, left top, from(#cbbb9d), color-stop(50%, #dedbd7), to(#cbbb9d));
  background: -webkit-linear-gradient(right, #cbbb9d 0%, #dedbd7 50%, #cbbb9d 100%);
  background: -o-linear-gradient(right, #cbbb9d 0%, #dedbd7 50%, #cbbb9d 100%);
  background: linear-gradient(to left, #cbbb9d 0%, #dedbd7 50%, #cbbb9d 100%);
  height: 27px; }

/*_____SLOGAN-SMOLL_____*/
.slogan-smoll {
  font-family: "Raleway-Medium", sans-serif;
  font-weight: 600;
  color: white;
  line-height: 1;
  margin: 0; }
  @media only screen and (min-width: 1281px) {
    .slogan-smoll {
      font-size: 30px; } }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .slogan-smoll {
      font-size: 20px; } }

/*_____INFORMATION-FOOTER_____*/
.information-footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .information-footer__wrapper {
      max-height: 400px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      min-width: 571px;
      width: 571px;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media only screen and (max-width: 768px) {
    .information-footer__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 40px; } }

.information-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  z-index: 1000; }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .information-footer {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      -webkit-align-self: flex-start;
          -ms-flex-item-align: start;
              align-self: flex-start; }
      .information-footer:nth-child(2) {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0;
            -ms-flex: 1 0;
                flex: 1 0;
        min-width: 291px;
        max-width: 291px;
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0;
        min-height: 200px;
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
            -ms-flex-order: 3;
                order: 3;
        -webkit-align-self: flex-end;
            -ms-flex-item-align: end;
                align-self: flex-end; } }
  @media only screen and (max-width: 768px) {
    .information-footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .information-footer:last-child {
        padding-bottom: 10px; } }

.information__box {
  line-height: 1; }
  @media only screen and (min-width: 1281px) {
    .information__box {
      margin: 0 35px;
      height: 115px;
      text-align: left; } }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .information__box {
      margin: 0;
      height: 115px;
      text-align: left; } }
  @media only screen and (max-width: 768px) {
    .information__box {
      margin: 0 0 5px 0;
      text-align: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100%;
      padding-bottom: 30px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .information__box--wifi {
    margin-left: 30px; } }

.information__text--padding {
  padding-bottom: 12px !important; }

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .information__box--four {
    max-width: 224px; } }

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .information__box--five {
    max-width: 216px; } }

@media only screen and (min-width: 769px) and (max-width: 930px) {
  .information__box--twoo-four {
    max-width: 405px; } }

.information__name {
  font-family: "Raleway-Bold", sans-serif;
  text-transform: uppercase;
  padding-bottom: 18px;
  font-weight: 700;
  margin: 0;
  width: 100%; }
  @media only screen and (min-width: 1281px) {
    .information__name {
      font-size: 14px;
      color: white; } }
  @media only screen and (max-width: 1280px) {
    .information__name {
      font-size: 12px;
      color: #d5d3cf; } }

.information__text {
  font-family: "Lato-Bold", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
  display: block;
  color: #fff;
  text-decoration: none;
  width: 100%; }
  .information__text:first-child {
    margin-bottom: 18px; }
  @media only screen and (min-width: 1281px) {
    .information__text {
      font-size: 20px; } }
  @media only screen and (max-width: 1280px) {
    .information__text {
      font-size: 16px; } }

.information__icon {
  fill: #ede1c9; }

.information__icon--card {
  width: 51px;
  height: 33px;
  margin-right: 20px;
  float: left;
  margin-top: -8px; }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .information__icon--card {
      margin-bottom: 8px; } }
  @media only screen and (max-width: 768px) {
    .information__icon--card {
      margin-bottom: 8px;
      margin-left: 10px;
      margin-right: 10px; } }

.information__icon--wifi {
  width: 72px;
  height: 33px;
  margin-top: -19px; }
  @media only screen and (max-width: 1280px) {
    .information__icon--wifi {
      margin-bottom: 19px; } }

.information__icon--parking {
  width: 51px;
  height: 51px; }

/*_____COPIRIGHT_____*/
.copiright {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.549);
  line-height: 1;
  white-space: pre;
  z-index: 1000; }

/*_____SMOLL-STYLE_____*/
.hide {
  opacity: 0; }

.show {
  opacity: 1; }

/*_____BODY_____*/
html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.body__wrapper {
  min-width: 320px;
  width: 100%; }

.js-content.is-fixed {
  margin-top: 150px; }

html, body {
  position: relative;
  height: 100%; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

ul, ol {
  padding: 0;
  margin: 0; }

ul li, ol li {
  list-style-type: none; }

a {
  text-decoration: none;
  cursor: pointer; }

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
          box-shadow: inset 0 0 0 50px #fff !important; }

input::-ms-clear {
  display: none; }

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }

input::-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }

input:-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }

input:-ms-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }

input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }

input:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }

input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }

input[type=text], input[type=email], input[type=submit], textarea {
  -webkit-appearance: none; }

a, form, input, img, select, option, button, textarea {
  -webkit-border-radius: 0;
  border-radius: 0;
  outline: none;
  outline-offset: 0;
  -webkit-tap-highlight-color: transparent; }

/*_____BALL_____*/
.ball {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

/*_____BALL_IMG_____*/
.ball-img--one {
  background-image: url("../../img/index/img-pearl1.png");
  z-index: 500; }
  @media only screen and (min-width: 1281px) {
    .ball-img--one {
      width: 56px;
      height: 62px; } }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .ball-img--one {
      width: 45px;
      height: 45px; } }
  @media only screen and (max-width: 768px) {
    .ball-img--one {
      width: 20px;
      height: 20px; } }

.ball-img--two {
  background-image: url("../../img/index/img-pearl2.png");
  z-index: 500; }
  @media only screen and (min-width: 1281px) {
    .ball-img--two {
      width: 86px;
      height: 89px; } }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .ball-img--two {
      width: 45px;
      height: 45px; } }
  @media only screen and (max-width: 768px) {
    .ball-img--two {
      width: 20px;
      height: 20px; } }

.ball-img--three {
  background-image: url("../../img/index/img-pearl3.png");
  z-index: 500; }
  @media only screen and (min-width: 1281px) {
    .ball-img--three {
      width: 52px;
      height: 52px; } }
  @media only screen and (max-width: 620px) {
    .ball-img--three {
      width: 30px;
      height: 30px; } }

.ball-img--four {
  background-image: url("../../img/index/img-pearl4.png");
  width: 205px;
  height: 205px;
  z-index: 100; }

/*_____BALL_CONTENT_____*/
.ball-content {
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(90%, #fdf5f4));
  background: -webkit-linear-gradient(top, white 0%, #fdf5f4 90%);
  background: -o-linear-gradient(top, white 0%, #fdf5f4 90%);
  background: linear-gradient(to bottom, white 0%, #fdf5f4 90%);
  -webkit-border-radius: 50%;
          border-radius: 50%; }

@media only screen and (min-width: 1281px) {
  .ball-content--one {
    width: 560px;
    height: 560px; } }

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .ball-content--one {
    width: 448px;
    height: 448px; } }

@media only screen and (max-width: 768px) {
  .ball-content--one {
    width: 100px;
    height: 100px; } }

@media only screen and (min-width: 1281px) {
  .ball-content--two {
    width: 260px;
    height: 260px; } }

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .ball-content--two {
    width: 208px;
    height: 208px; } }

@media only screen and (max-width: 768px) {
  .ball-content--two {
    width: 40px;
    height: 40px; } }

@media only screen and (min-width: 1281px) {
  .ball-content--three {
    width: 160px;
    height: 160px; } }

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .ball-content--three {
    width: 128px;
    height: 128px; } }

@media only screen and (max-width: 768px) {
  .ball-content--three {
    width: 25px;
    height: 25px; } }

.ball-content--head-one {
  width: 240px;
  height: 240px; }

.ball-content--head-two {
  width: 130px;
  height: 130px; }

.ball-content--head-three {
  width: 80px;
  height: 80px; }

/*_____BALLS_GROUP_____*/
.balls-group__ball {
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(90%, #e6ddd5));
  background: -webkit-linear-gradient(left, white 0%, #e6ddd5 90%);
  background: -o-linear-gradient(left, white 0%, #e6ddd5 90%);
  background: linear-gradient(to right, white 0%, #e6ddd5 90%);
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.balls-group__ball--one {
  left: 0;
  top: 0; }
  @media only screen and (min-width: 1281px) {
    .balls-group__ball--one {
      width: 415px;
      height: 415px; } }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .balls-group__ball--one {
      width: 332px;
      height: 332px; } }

.balls-group__ball--two {
  left: 135px; }
  @media only screen and (min-width: 1281px) {
    .balls-group__ball--two {
      width: 92px;
      height: 92px;
      top: 460px; } }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .balls-group__ball--two {
      width: 73px;
      height: 73px;
      top: 368px; } }

.balls-group__ball--three {
  left: 195px; }
  @media only screen and (min-width: 1281px) {
    .balls-group__ball--three {
      width: 54px;
      height: 54px;
      top: 580px; } }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .balls-group__ball--three {
      width: 43px;
      height: 43px;
      top: 464px; } }

.balls-group__ball--four {
  left: 260px; }
  @media only screen and (min-width: 1281px) {
    .balls-group__ball--four {
      width: 32px;
      height: 32px;
      top: 635px; } }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .balls-group__ball--four {
      width: 25px;
      height: 25px;
      top: 508px; } }

.balls-group__ball--five {
  left: 300px; }
  @media only screen and (min-width: 1281px) {
    .balls-group__ball--five {
      width: 24px;
      height: 24px;
      top: 660px; } }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .balls-group__ball--five {
      width: 19px;
      height: 19px;
      top: 528px; } }

/*_____BALL_FOOTER_____*/
.ball-footer {
  background-color: #9b9084;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  @media only screen and (min-width: 1281px) {
    .ball-footer {
      width: 400px;
      height: 400px; } }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .ball-footer {
      width: 395px;
      height: 395px; } }
  @media only screen and (max-width: 768px) {
    .ball-footer {
      width: 340px;
      height: 340px; } }

/*_____MENU_HORIZONTAL_____*/
.menu-horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  @media only screen and (max-width: 768px) {
    .menu-horizontal {
      display: none; } }

.menu-horizontal__items-link {
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  font-weight: 700;
  line-height: 1;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease; }

/*_____MENU_HORIZONTAL--HEADER_____*/
@media only screen and (min-width: 1281px) {
  .menu-horizontal--header {
    width: 790px; } }

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .menu-horizontal--header {
    width: 525px; } }

.menu-horizontal__items-link--header {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #333; }
  @media only screen and (min-width: 1281px) {
    .menu-horizontal__items-link--header {
      font-size: 14px; } }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .menu-horizontal__items-link--header {
      font-size: 10px; } }

.menu-horizontal__items-link--header:hover {
  color: #ad9356; }

/*_____MENU_HORIZONTAL--FOOTER_____*/
@media only screen and (min-width: 1281px) {
  .menu-horizontal--footer {
    width: 660px; } }

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .menu-horizontal--footer {
    width: 571px; } }

.menu-horizontal__items-link--footer {
  font-family: "Raleway-Bold", sans-serif;
  color: white;
  font-weight: bold;
  opacity: 1; }
  @media only screen and (min-width: 1281px) {
    .menu-horizontal__items-link--footer {
      font-size: 14px; } }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .menu-horizontal__items-link--footer {
      font-size: 12px; } }

.menu-horizontal__items-link--footer:hover {
  opacity: 0.4; }

/*_____BUTTON_____*/
.button {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, right top, left top, from(#eadbbf), color-stop(50%, #fffefe), to(#eadbbf));
  background: -webkit-linear-gradient(right, #eadbbf 0%, #fffefe 50%, #eadbbf 100%);
  background: -o-linear-gradient(right, #eadbbf 0%, #fffefe 50%, #eadbbf 100%);
  background: linear-gradient(to left, #eadbbf 0%, #fffefe 50%, #eadbbf 100%);
  z-index: 2000;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  cursor: pointer;
  border: none; }

.button__text {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Lato-Bold", sans-serif;
  color: #716354;
  text-decoration: none; }

/*_____BUTTON--BIG_____*/
.button--big {
  -webkit-box-shadow: 0 16px 32px 0 rgba(187, 187, 187, 0.21);
          box-shadow: 0 16px 32px 0 rgba(187, 187, 187, 0.21); }
  @media only screen and (min-width: 1281px) {
    .button--big {
      width: -webkit-calc(305px - ((1920px - 100vw) * 0.06));
      width: calc(305px - ((1920px - 100vw) * 0.06));
      height: -webkit-calc(85px - ((1920px - 100vw) * 0.02));
      height: calc(85px - ((1920px - 100vw) * 0.02)); } }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .button--big {
      width: 185px;
      height: 55px; } }
  @media only screen and (max-width: 768px) {
    .button--big {
      width: 160px;
      height: 40px; } }

@media only screen and (min-width: 1281px) {
  .button__text--big {
    font-size: -webkit-calc(16px - ((1920px - 100vw) * 0.005));
    font-size: calc(16px - ((1920px - 100vw) * 0.005)); } }

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .button__text--big {
    font-size: 11px; } }

@media only screen and (max-width: 768px) {
  .button__text--big {
    font-size: 10px; } }

/*_____BUTTON--SMALL_____*/
@media only screen and (min-width: 1281px) {
  .button--small {
    width: 180px;
    height: 54px; } }

@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .button--small {
    width: 145px;
    height: 45px; } }

@media only screen and (max-width: 768px) {
  .button--small {
    width: 135px;
    height: 40px; } }

.button__text--small {
  line-height: 1; }
  @media only screen and (min-width: 1281px) {
    .button__text--small {
      font-size: 14px; } }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .button__text--small {
      font-size: 12px; } }
  @media only screen and (max-width: 768px) {
    .button__text--small {
      font-size: 11px; } }

/*_____BUTTON--CONTACTS_____*/
.button_form {
  letter-spacing: 0.05em;
  color: #7d7165;
  margin: 0 auto; }
  @media only screen and (min-width: 761px) {
    .button_form {
      width: 182px;
      height: 54px;
      font-size: 14px; } }
  @media only screen and (max-width: 760px) {
    .button_form {
      width: 134px;
      height: 40px;
      font-size: 12px; } }

/*_____BUTTON--PRODUCT_____*/
@media only screen and (min-width: 1281px) {
  .button--product {
    width: 205px;
    height: 55px; } }

@media only screen and (max-width: 1280px) {
  .button--product {
    width: 165px;
    height: 45px; } }

.button__text--product {
  line-height: 1;
  font-size: 14px; }

/*_____HAMBURGER-BUTTON_____/ */
.hamburger-button {
  position: absolute;
  width: 25px;
  height: 20px;
  margin: 0;
  padding: 0;
  left: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2500; }

.hamburger-button__line {
  width: 100%;
  height: 2px;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  background-color: #d4b461; }

/*_____HAMBURGER-BUTTON-ACTIVE_____/ */
.is-active .hamburger-button__line--up {
  -webkit-transform: translate(0, 9px) rotate(45deg);
      -ms-transform: translate(0, 9px) rotate(45deg);
          transform: translate(0, 9px) rotate(45deg); }

.is-active .hamburger-button__line--mid {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0); }

.is-active .hamburger-button__line--down {
  -webkit-transform: translate(0, -9px) rotate(-45deg);
      -ms-transform: translate(0, -9px) rotate(-45deg);
          transform: translate(0, -9px) rotate(-45deg); }

/*_____HAMBURGER-MENU_____/ */
.hamburger-menu {
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2400;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear; }
  @media screen and (min-width: 1281px) {
    .hamburger-menu {
      height: 150px;
      -webkit-box-shadow: 0 4px 11px rgba(0, 0, 0, 0.06);
              box-shadow: 0 4px 11px rgba(0, 0, 0, 0.06);
      top: -100%;
      left: 0;
      -webkit-transition: top 0.3s ease;
      -o-transition: top 0.3s ease;
      transition: top 0.3s ease; } }
  @media only screen and (min-width: 761px) and (max-width: 1280px) {
    .hamburger-menu {
      height: 130px;
      -webkit-box-shadow: 0 4px 11px rgba(0, 0, 0, 0.06);
              box-shadow: 0 4px 11px rgba(0, 0, 0, 0.06);
      top: -100%;
      left: 0;
      -webkit-transition: top 0.3s ease;
      -o-transition: top 0.3s ease;
      transition: top 0.3s ease; } }

.hamburger-menu.is-active {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%); }
  @media screen and (min-width: 761px) {
    .hamburger-menu.is-active {
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
      top: 0; } }

.hamburger-menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .hamburger-menu__list:before {
    content: "";
    display: block;
    z-index: -99;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease 0.2s;
    -o-transition: opacity 0.2s ease 0.2s;
    transition: opacity 0.2s ease 0.2s; }
  @media screen and (min-width: 1281px) {
    .hamburger-menu__list {
      height: 100%;
      padding-top: 95px;
      padding-left: 100px;
      width: 100%;
      max-width: 1110px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }
  @media only screen and (min-width: 761px) and (max-width: 1280px) {
    .hamburger-menu__list {
      height: 100%;
      padding-top: 95px;
      padding-left: 80px;
      width: -webkit-calc(100% - 80px);
      width: calc(100% - 80px);
      min-width: 690px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }

.hamburger-menu.is-active .hamburger-menu__list {
  position: relative; }
  .hamburger-menu.is-active .hamburger-menu__list:before {
    content: "";
    display: block;
    position: fixed;
    opacity: 1;
    z-index: 1;
    right: -160px;
    top: -webkit-calc(5vh + 105px);
    top: calc(5vh + 105px);
    width: 300px;
    height: 300px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #ecc0b629; }
  @media screen and (min-width: 761px) {
    .hamburger-menu.is-active .hamburger-menu__list:before {
      display: none; } }

.hamburger-menu__item {
  list-style-type: none;
  text-align: center;
  margin-bottom: 30px; }
  .hamburger-menu__item:last-child {
    margin-bottom: 0; }
  @media screen and (min-width: 1281px) {
    .hamburger-menu__item {
      margin-bottom: 0;
      margin-right: 30px; } }
  @media only screen and (min-width: 761px) and (max-width: 1280px) {
    .hamburger-menu__item {
      margin-bottom: 0;
      margin-right: 15px; } }

.hamburger-menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway-Bold", sans-serif;
  font-weight: 700;
  line-height: 1;
  color: #564e4e;
  font-size: 16px;
  letter-spacing: 0.1em; }
  @media only screen and (min-width: 761px) and (max-width: 1280px) {
    .hamburger-menu__link {
      font-size: 13px; } }

@media only screen and (min-width: 769px) {
  .hamburger-button--theme-home-page {
    display: none; } }

@media only screen and (max-width: 768px) and (min-width: 561px) {
  .hamburger-button--theme-home-page {
    top: 85px; } }

@media only screen and (max-width: 560px) {
  .hamburger-button--theme-home-page {
    top: 70px; } }

.hamburger-button--theme-home-page .hamburger-button__line {
  background-color: #a38c76; }
  @media only screen and (max-width: 768px) and (min-width: 561px) {
    .hamburger-button--theme-home-page .hamburger-button__line {
      background-color: #a38c76; } }
  @media only screen and (max-width: 560px) {
    .hamburger-button--theme-home-page .hamburger-button__line {
      background-color: #4f4f4f; } }

.hamburger-menu--theme-home-page .hamburger-menu__list {
  margin: 5vh 0 0 0;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 65px 65px 15px 65px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.hamburger-menu--theme-home-page .hamburger-menu__item {
  margin-bottom: 4vh;
  margin-top: 10px;
  padding-left: 20px;
  z-index: 2; }

/*_____HEAD-NAME_____*/
.head-name {
  display: inline-block; }

.head-name__text {
  font-family: "Raleway-Black",sans-serif;
  font-weight: 900;
  letter-spacing: 0.075em;
  color: #d4b461;
  text-transform: uppercase; }
  @media only screen and (min-width: 1281px) {
    .head-name__text {
      font-size: 36px;
      line-height: 48px;
      margin-top: 0;
      margin-bottom: 16px; } }
  @media only screen and (max-width: 1280px) and (min-width: 761px) {
    .head-name__text {
      font-size: 28px; } }
  @media only screen and (max-width: 760px) {
    .head-name__text {
      font-size: 20px; } }

.head-name__line {
  height: 2px;
  background-color: #d4b461; }
  @media only screen and (min-width: 1281px) {
    .head-name__line {
      width: 475px;
      margin-top: 20px; } }
  @media only screen and (max-width: 1280px) and (min-width: 761px) {
    .head-name__line {
      width: 345px;
      margin-top: 10px; } }
  @media only screen and (max-width: 760px) {
    .head-name__line {
      width: 260px;
      margin-top: 5px; } }

/*_____HEAD-NAME--PRODUCT_____*/
.head-name__text--product {
  font-family: "Raleway-Medium", sans-serif;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #6a6968;
  text-transform: none;
  margin-bottom: 0; }
  @media only screen and (min-width: 1281px) {
    .head-name__text--product {
      font-size: 22px;
      line-height: 48px; } }
  @media only screen and (max-width: 1280px) and (min-width: 761px) {
    .head-name__text--product {
      font-size: 20px;
      line-height: 30px; } }
  @media only screen and (max-width: 760px) {
    .head-name__text--product {
      font-size: 18px;
      line-height: 24px; } }

.head-name__text--subtitle-product {
  font-family: "Raleway-Bold", sans-serif;
  font-weight: 700;
  letter-spacing: 0.01em;
  text-transform: none; }
  @media only screen and (min-width: 1281px) {
    .head-name__text--subtitle-product {
      font-size: 16px;
      line-height: 28px; } }
  @media only screen and (max-width: 1280px) {
    .head-name__text--subtitle-product {
      font-size: 14px;
      line-height: 28px; } }

/*_____HEAD-NAME--WORKER-PAGE_____*/
.head-name__description--worker-page {
  font-size: 16px;
  letter-spacing: 0.075em;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #848483;
  text-transform: uppercase;
  line-height: 1; }
  @media only screen and (max-width: 1280px) {
    .head-name__description--worker-page {
      display: none; } }

@media only screen and (min-width: 1281px) {
  .head-name__line--worker-page {
    display: none; } }

/*_____MENU-NAME_____*/
.menu-name {
  font-family: "Lato",sans-serif;
  color: #7e7e7e;
  font-weight: bold;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  letter-spacing: 0.075em;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

@media only screen and (min-width: 1281px) {
  .menu-name {
    font-size: 14px;
    line-height: 1;
    padding-left: 55px;
    padding-top: 42px; } }

@media only screen and (max-width: 1280px) and (min-width: 761px) {
  .menu-name {
    font-size: 11px;
    line-height: 1;
    padding-top: 27px;
    padding-left: 40px; } }

@media only screen and (max-width: 760px) {
  .menu-name {
    font-size: 10px;
    padding-top: 14px;
    padding-left: 45px;
    line-height: 20px;
    min-height: 34px; } }

.menu-name__header {
  color: #6a6968; }

.menu-name__line {
  background-color: #595958;
  height: 1px;
  margin: 0 8px 5px 8px; }
  @media only screen and (min-width: 1281px) {
    .menu-name__line {
      width: 15px; } }
  @media only screen and (max-width: 1280px) {
    .menu-name__line {
      width: 7px; } }

.menu-name__current {
  color: #d4b461; }

.menu-name__text {
  white-space: nowrap; }

/*_____CONTENT_____*/
.content {
  position: relative;
  width: 100%; }

.content__ball-content--one {
  left: -webkit-calc(((100% - 1110px) / 2) - 335px);
  left: calc(((100% - 1110px) / 2) - 335px);
  top: 60px; }
  @media only screen and (max-width: 1280px) {
    .content__ball-content--one {
      display: none; } }

.content__ball-content--two {
  left: -webkit-calc(((100% - 1110px) / 2) - 50px);
  left: calc(((100% - 1110px) / 2) - 50px);
  top: -10px; }
  @media only screen and (max-width: 1280px) {
    .content__ball-content--two {
      display: none; } }

@media only screen and (min-width: 1281px) {
  .content__ball-content--three {
    left: -webkit-calc(((100% - 1110px) / 2) - 425px);
    left: calc(((100% - 1110px) / 2) - 425px);
    top: 20px; } }

@media only screen and (max-width: 1280px) and (min-width: 761px) {
  .content__ball-content--three {
    left: 14px;
    top: -10px; } }

@media only screen and (max-width: 760px) {
  .content__ball-content--three {
    left: -14px;
    top: -10px; } }

/*_____CONTENT-WRAPPER_____*/
.content-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 1281px) {
    .content-wrapper {
      width: 1110px;
      margin-bottom: 160px; } }
  @media only screen and (max-width: 1280px) and (min-width: 761px) {
    .content-wrapper {
      min-width: 690px;
      max-width: -webkit-calc(100% - 80px);
      max-width: calc(100% - 80px);
      margin-bottom: 70px; } }
  @media only screen and (max-width: 760px) {
    .content-wrapper {
      min-width: 290px;
      max-width: -webkit-calc(100% - 30px);
      max-width: calc(100% - 30px);
      margin-bottom: 55px; } }

@media only screen and (min-width: 1281px) {
  .content-wrapper__hamburger-button {
    top: 38px;
    left: 0; } }

@media only screen and (max-width: 1280px) and (min-width: 761px) {
  .content-wrapper__hamburger-button {
    top: 22px;
    left: 0; } }

@media only screen and (max-width: 760px) {
  .content-wrapper__hamburger-button {
    top: 20px;
    left: 0; } }

@media only screen and (min-width: 1281px) {
  .content-wrapper__head-name {
    margin-top: 105px;
    margin-bottom: 70px; } }

@media only screen and (max-width: 1280px) and (min-width: 761px) {
  .content-wrapper__head-name {
    margin-top: 63px;
    margin-bottom: 40px; } }

@media only screen and (max-width: 760px) {
  .content-wrapper__head-name {
    margin-top: 40px;
    margin-bottom: 25px; } }

@media only screen and (min-width: 1281px) {
  .content-wrapper__discription-list {
    margin-bottom: 30px; } }

@media only screen and (max-width: 1280px) and (min-width: 761px) {
  .content-wrapper__discription-list {
    margin-bottom: 30px; } }

@media only screen and (max-width: 760px) {
  .content-wrapper__discription-list {
    margin-bottom: 5px; } }

/*_____DESCRIPTION-LIST_____*/
.discription-list {
  font-family: "Raleway-Medium",sans-serif;
  font-weight: 600;
  color: #6a6968;
  letter-spacing: 0.01em; }
  @media screen and (min-width: 761px) {
    .discription-list {
      font-size: 16px;
      line-height: 28px; } }
  @media screen and (max-width: 760px) {
    .discription-list {
      font-size: 14px;
      line-height: 22px; } }

/*_____LIST-EMPLOYEES_____*/
.list-employees__label {
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  color: #6a6968;
  font-weight: bold;
  line-height: 1;
  display: block;
  position: relative;
  cursor: pointer;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #f4f4f4; }

.list-employees__label-text {
  font-family: "Raleway-Bold", sans-serif;
  color: #6a6968;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.01em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  @media only screen and (min-width: 1281px) {
    .list-employees__label-text {
      font-size: 26px; } }
  @media only screen and (max-width: 1280px) and (min-width: 768px) {
    .list-employees__label-text {
      font-size: 20px; } }
  @media only screen and (max-width: 767px) {
    .list-employees__label-text {
      font-size: 18px;
      display: block; } }

.list-employees__label-arrow {
  fill: #ddc596;
  width: 18px;
  display: inline-block;
  margin-left: 6px;
  position: relative;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
  @media only screen and (min-width: 1281px) {
    .list-employees__label-arrow {
      bottom: -2px; } }
  @media only screen and (max-width: 1280px) and (min-width: 761px) {
    .list-employees__label-arrow {
      bottom: -2px; } }
  @media only screen and (max-width: 760px) {
    .list-employees__label-arrow {
      bottom: -2px; } }

.list-employees__cards-wrapper {
  display: none; }

.list-employees__input:checked ~ .list-employees__label .list-employees__label-arrow {
  -webkit-transform: rotate(90deg) scale(-1, 1);
      -ms-transform: rotate(90deg) scale(-1, 1);
          transform: rotate(90deg) scale(-1, 1); }

.list-employees__input:checked ~ .list-employees__label .list-employees__cards-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media only screen and (max-width: 1280px) and (min-width: 768px) {
    .list-employees__input:checked ~ .list-employees__label .list-employees__cards-wrapper {
      margin-right: -30px; } }

/*_____CARD-WORKER_____*/
.card-worker {
  font-family: "Raleway", sans-serif;
  line-height: 1;
  position: relative; }
  @media only screen and (min-width: 1281px) {
    .card-worker {
      height: 480px;
      width: 280px;
      margin-top: 50px;
      margin-right: 127px;
      margin-bottom: 30px; }
      .card-worker:nth-child(3n) {
        margin-right: 0; } }
  @media only screen and (max-width: 1280px) and (min-width: 768px) {
    .card-worker {
      height: 350px;
      width: 25%;
      margin-top: 50px;
      min-width: 240px; } }
  @media only screen and (min-width: 501px) and (max-width: 767px) {
    .card-worker {
      height: 350px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 50%;
      margin-top: 30px;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media only screen and (max-width: 500px) {
    .card-worker {
      height: 350px;
      width: 100%;
      margin-top: 30px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

@media only screen and (min-width: 1281px) {
  .card-worker__img {
    width: 285px;
    height: 280px; } }

@media only screen and (max-width: 1280px) {
  .card-worker__img {
    width: 210px;
    height: 210px; } }

.card-worker__name {
  color: #7c6f62;
  font-weight: bold; }
  @media only screen and (min-width: 1281px) {
    .card-worker__name {
      font-size: 20px;
      margin: 25px 0 5px 0; } }
  @media only screen and (min-width: 768px) and (max-width: 1280px) {
    .card-worker__name {
      font-size: 18px;
      margin: 10px 0 0 0; } }
  @media only screen and (max-width: 767px) {
    .card-worker__name {
      font-size: 18px;
      margin: 10px 0 16px 0;
      width: 210px; } }

.card-worker__description {
  color: #8a8a8a;
  font-weight: normal; }
  @media only screen and (min-width: 1281px) {
    .card-worker__description {
      font-size: 20px; } }
  @media only screen and (min-width: 768px) and (max-width: 1280px) {
    .card-worker__description {
      font-size: 16px; } }
  @media only screen and (max-width: 767px) {
    .card-worker__description {
      font-size: 16px;
      width: 210px; } }

.card-worker__button {
  position: absolute;
  bottom: 0; }
  @media only screen and (min-width: 1281px) {
    .card-worker__button {
      left: -webkit-calc((280px - 180px) / 2);
      left: calc((280px - 180px) / 2); } }
  @media only screen and (min-width: 768px) and (max-width: 1280px) {
    .card-worker__button {
      left: -webkit-calc((210px - 135px) / 2);
      left: calc((210px - 135px) / 2); } }
  @media only screen and (max-width: 767px) {
    .card-worker__button {
      left: inherit; } }
