/*_____SERVICES-CARD_____*/
.services-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1000;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media only screen and (min-width: 769px) {
    .services-card {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }
  @media only screen and (max-width: 768px) {
    .services-card {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

@media only screen and (min-width: 1281px) {
  .services-card__photo {
    width: 575px; } }

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .services-card__photo {
    width: 344px; } }

@media only screen and (max-width: 768px) {
  .services-card__photo {
    width: 290px; } }

.services-card__photo-scale {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear; }

.services-card__photo-scale:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear; }

.services-card__photo-container {
  overflow: hidden; }

.services-card__description {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media only screen and (min-width: 1281px) {
    .services-card__description {
      padding: 0 90px;
      width: 575px; } }
  @media only screen and (max-width: 1280px) and (min-width: 768px) {
    .services-card__description {
      padding: 0 45px;
      width: 344px; } }
  @media only screen and (max-width: 768px) {
    .services-card__description {
      padding: 0 15px;
      width: 290px; } }

.services-card__name {
  font-family: "Raleway-Black";
  text-transform: uppercase;
  padding: 0;
  font-weight: 900; }
  @media only screen and (min-width: 1281px) {
    .services-card__name {
      font-size: 40px;
      line-height: 1.5;
      margin: 21px 0 15px 0; } }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .services-card__name {
      font-size: 25px;
      line-height: 1.385;
      letter-spacing: 0.075em;
      margin: 21px 0 15px 0; } }
  @media only screen and (max-width: 768px) {
    .services-card__name {
      font-size: 24px;
      line-height: 1.25;
      letter-spacing: 0.03em;
      margin: 21px 0 15px 0; } }

.services-card__list {
  list-style-type: none;
  text-decoration: none;
  padding: 0; }
  @media only screen and (min-width: 769px) {
    .services-card__list {
      margin: 0; } }
  @media only screen and (max-width: 768px) {
    .services-card__list {
      margin: 0 0 25px 0; } }

.services-card__list-link {
  list-style-type: none;
  text-decoration: none;
  font-family: "Raleway-Regular";
  color: #706253;
  font-weight: 400;
  padding: 0;
  margin: 0; }
  @media only screen and (min-width: 1281px) {
    .services-card__list-link {
      font-size: 24px;
      line-height: 2; } }
  @media only screen and (max-width: 1280px) {
    .services-card__list-link {
      font-size: 16px;
      line-height: 1.7; } }

.services-card__list-link:hover {
  color: #ad9356; }

/*_____SERVICES-CARD--ONE_____*/
@media only screen and (min-width: 1281px) {
  .services-card__photo--one {
    height: 580px; } }

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .services-card__photo--one {
    height: 343px; } }

@media only screen and (max-width: 768px) {
  .services-card__photo--one {
    height: 282px; } }

.services-card__name--one {
  color: #d9bf8b; }

/*_____SERVICES-CARD--TWO_____*/
@media only screen and (min-width: 1281px) {
  .services-card__photo--two {
    height: 575px; } }

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .services-card__photo--two {
    height: 347px; } }

@media only screen and (max-width: 768px) {
  .services-card__photo--two {
    height: 285px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1; } }

.services-card__name--two {
  color: #b69a86; }

/*_____SERVICES-CARD--THREE_____*/
@media only screen and (min-width: 1281px) {
  .services-card__photo--three {
    height: 680px; } }

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .services-card__photo--three {
    height: 392px; } }

@media only screen and (max-width: 768px) {
  .services-card__photo--three {
    height: 328px; } }

.services-card__name--three {
  color: #9a8d8d; }
