/*_____SWIPER_____*/
@media only screen and (min-width: 1281px) {
  .content-wrapper .worker .swiper-container {
    width: 475px;
    height: 340px; } }

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .content-wrapper .worker .swiper-container {
    width: 315px;
    height: 255px; } }

@media only screen and (max-width: 768px) {
  .content-wrapper .worker .swiper-container {
    width: 245px;
    height: 200px; } }

.content-wrapper .worker .slider__arrow {
  position: absolute;
  fill: #bfbdbd;
  cursor: pointer;
  background: none;
  margin: 0;
  padding: 0; }
  @media only screen and (min-width: 1281px) {
    .content-wrapper .worker .slider__arrow {
      height: 28px;
      top: 210px; } }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .content-wrapper .worker .slider__arrow {
      height: 22px;
      top: 155px; } }
  @media only screen and (max-width: 768px) {
    .content-wrapper .worker .slider__arrow {
      height: 22px;
      top: 135px; } }

.content-wrapper .worker .slider__arrow:hover {
  fill: #c3b8a3; }

.content-wrapper .worker .slider__arrow-prev {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1); }
  @media only screen and (min-width: 1281px) {
    .content-wrapper .worker .slider__arrow-prev {
      left: -5px; } }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {
    .content-wrapper .worker .slider__arrow-prev {
      left: -15px; } }
  @media only screen and (max-width: 768px) {
    .content-wrapper .worker .slider__arrow-prev {
      left: -5px; } }

@media only screen and (min-width: 1281px) {
  .content-wrapper .worker .slider__arrow-next {
    right: -5px; } }

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .content-wrapper .worker .slider__arrow-next {
    right: -15px; } }

@media only screen and (max-width: 768px) {
  .content-wrapper .worker .slider__arrow-next {
    right: -5px; } }
